<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}

</head>
<body>
    <form action="/users_app/create" method="POST">
        {% csrf_token %}
        <a href="/create_new">Create some cats or humans</a>
        {% for users in table %}
        <h2>Full Name</h2>    
            <h3>{{user.first_name}}</h3>
            <h3>{{user.last_name}}</h3>
        <h2>Email</h2>
            <h3>{{user.email}}</h3>
        <h2>Created At</h2>
            <h3>{{user.created_at}}</h3>
        {% endfor %}
    </form>
</body>
</html>