<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <a href="/logout">Logout</a>
        <a href="/travels">Home</a>   
        <table>
            <tr>
                <th>Name</th>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
            </tr>
            <td>{{trips.user_created.first_name}}</td>
            <td>{{trips.location}}</td>
            <td>{{trips.travel_date_from}}</td>
            <td>{{trips.travel_date_to}}</td>
        </table>
    <h1>Other Users joining this trip</h1>
    {% for user in trips.planned_by.all %}
    <p>{{user.first_name}} {{user.last_name}}</p>
    
    {% endfor %}
</body>
</html>